{% extends ".\base.html" %}
{% load humanize %} <!-- Agrega esta línea para cargar la etiqueta personalizada 'humanize' -->

{% block title %}Generar Factura{% endblock %}

{% block body %}

{% if messages %}
<div class="alert alert-dismissible fade show" role="alert">
    <ul class="messages">
        {% for message in messages %}
        {% if message.tags %}
        <li
            class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %}">
            {{ message }}
        </li>
        {% else %}
        <li>{{ message }}</li>
        {% endif %}
        {% endfor %}
    </ul>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<div class="container">




    <!-- Datos generales de la factura -->

    <div class="row">

        <div class="col-md-6">
            <h4><strong>Corralón Sánchez</strong></h4>
            <p><strong>Dirección:</strong> Anunciata cochetti y 25 de mayo - La Banda, Santiago del Estero</p>
            <p><strong>Teléfono:</strong> 4271549 </p>
            <p><strong>IVA:</strong> Responsable Inscripto</p>
        </div>
        <div class="col-md-6">
            <h4>&nbsp;</h4>
            <!-- Para alinear los encabezados de ambas columnas -->
            <p><strong>Fecha y hora:</strong> {{ fecha_actual }}</p>
            <p><strong>CUIT:</strong> 20.43493493.9</p>
            <p><strong>Inicio de Actividades:</strong> 27/04/2004</p>
        </div>
    </div>
    <button id="printButton" class="btn btn-primary">Imprimir Factura</button>
    <!-- Información del cliente -->

    <hr> <!-- Línea divisoria -->



    <div>

        <form id="formularioFactura" action="{% url 'registrar_factura' %}" method="post"
            onsubmit="return verificarTablaProductosVacia();">
            {% csrf_token %}
            {% csrf_token %}
            <!-- Información del cliente -->
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Cliente:</strong><input type="text" id="inputCliente" name="cliente"
                            placeholder="Cliente"></p>
                    <p><strong>Direccion:</strong><input type="text" id="inputDomicilio" name="domicilio"
                            placeholder="Domicilio"></p>
                    <p><strong>Ciudad:</strong><input type="text" id="inputCiudad" name="ciudad" placeholder="Ciudad">
                    </p>
                </div>
                <div class="col-md-6">
                    <p><strong>Condicion venta:</strong><input type="text" id="inputCondicionVenta"
                            name="condicion_venta" placeholder="Condición de Venta"></p>
                    <p><strong>Condicion Fiscal:</strong><input type="text" id="inputCondicionFiscal"
                            name="condicion_fiscal" placeholder="Condición Fiscal"></p>
                    <p><strong>Cuit/Dni:</strong><input type="text" id="inputCuitDni" name="cuit_dni"
                            placeholder="CUIT/DNI"></p>
                </div>
            </div>

            <hr>

            <!-- Tabla de productos de la factura -->
            <!-- Tabla de productos de la factura -->
            <table class="table">
                <!-- Encabezados de la tabla -->
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Descripción</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Subtotal</th> <!-- Agregué esta columna para botones de acción -->
                    </tr>
                </thead>
                <!-- Cuerpo de la tabla -->
                <tbody>
                    {% for producto in factura_productos %}
                    <tr>
                        <td>{{ producto.cod }}</td>
                        <td>{{ producto.des }}</td>
                        <td>{{ producto.cantidad }}</td> <!-- Si deseas mostrar el stock -->
                        <td>{{ producto.pre|floatformat:2 }}</td>
                        <td>{{ producto.subtotal|floatformat:2 }}</td>
                        <!-- Input oculto para enviar el ID del producto -->
                        <input type="hidden" name="producto" value="{{ producto.id_pd }}">
                        <!-- Input para enviar la cantidad del producto -->
                        <input type="hidden" name="cantidad" value="{{ producto.cantidad }}">
                        <!-- Input para enviar el subtotal del producto -->
                        <input type="hidden" name="subtotal" value="{{ producto.subtotal }}">
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <hr>
            <div>
                <p>{{ total_en_palabras }} - <strong>Total ARS: {{ total|floatformat:2 }}</strong></p>
            </div>
            <hr>

            <!-- Botón para enviar el formulario -->
            <div class="btn-group">

                <button type="submit" class="btn btn-success">Registrar Factura</button>

            </div>
        </form>
    </div>
</div>
<br>
<div class="btn-group">
    <a href="{% url 'producto' %}" class="btn btn-primary">Regresar</a>
    <form action="{% url 'eliminar_productos_factura' %}" method="post">
        {% csrf_token %}
        <button id="noprint" type="submit" class="btn btn-danger">Eliminar Productos de la Factura</button>
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalCliente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Datos Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Formulario para agregar datos del cliente -->
                <form id="clienteForm" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="cliente" class="form-label">Cliente</label>
                        <input type="text" class="form-control" id="inputCliente" name="cliente">
                    </div>
                    <div class="mb-3">
                        <label for="domicilio" class="form-label">Domicilio</label>
                        <input type="text" class="form-control" id="inputDomicilio" name="domicilio">
                    </div>
                    <div class="mb-3">
                        <label for="ciudad" class="form-label">Ciudad</label>
                        <input type="text" class="form-control" id="inputCiudad" name="ciudad">
                    </div>
                    <div class="mb-3">
                        <label for="condicion_venta" class="form-label">Condición de Venta</label>
                        <input type="text" class="form-control" id="inputCondicionVenta" name="condicion_venta">
                    </div>
                    <div class="mb-3">
                        <label for="condicion_fiscal" class="form-label">Condición Fiscal</label>
                        <input type="text" class="form-control" id="inputCondicionFiscal" name="condicion_fiscal">
                    </div>
                    <div class="mb-3">
                        <label for="cuit_dni" class="form-label">CUIT/DNI</label>
                        <input type="text" class="form-control" id="inputCuitDni" name="cuit_dni">
                    </div>

                    <button id="guardarClienteBtn" type="button" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    @media print {

        #printButton,
        .btn-group {
            display: none;
        }
    }
</style>

<script>
    document.getElementById('printButton').onclick = function () {
        // Ocultar botones y otros elementos antes de imprimir
        document.querySelector('.btn-group').style.display = 'none';


        // Imprimir la factura
        window.print();

        // Mostrar botones y otros elementos después de imprimir
        document.querySelector('.btn-group').style.display = 'block';
    };

    document.getElementById('guardarClienteBtn').onclick = function () {
        // Obtener los valores del formulario
        var cliente = document.getElementById('inputCliente').value;
        var domicilio = document.getElementById('inputDomicilio').value;
        var ciudad = document.getElementById('inputCiudad').value;
        var condicionVenta = document.getElementById('inputCondicionVenta').value;
        var condicionFiscal = document.getElementById('inputCondicionFiscal').value;
        var cuitDni = document.getElementById('inputCuitDni').value;

        // Mostrar los datos del cliente en la página
        document.getElementById('cliente').innerText = cliente;
        document.getElementById('domicilio').innerText = domicilio;
        document.getElementById('ciudad').innerText = ciudad;
        document.getElementById('condicion_venta').innerText = condicionVenta;
        document.getElementById('condicion_fiscal').innerText = condicionFiscal;
        document.getElementById('cuit_dni').innerText = cuitDni;

        document.getElementById('clienteHidden').value = cliente;
        document.getElementById('domicilioHidden').value = domicilio;
        document.getElementById('ciudadHidden').value = ciudad;
        document.getElementById('condicionVentaHidden').value = condicionVenta;
        document.getElementById('condicionFiscalHidden').value = condicionFiscal;
        document.getElementById('cuitDniHidden').value = cuitDni;



        // Cerrar el modal
        var myModal = new bootstrap.Modal(document.getElementById('ModalCliente'));
        myModal.hide();
    };
</script>

<script>
    // Función para verificar si la tabla de productos está vacía
    function verificarTablaProductosVacia() {
        // Obtener la tabla de productos
        var tablaProductos = document.getElementById('tablaProductos');

        // Verificar si la tabla tiene filas (productos)
        if (tablaProductos.rows.length <= 1) { // La condición <= 1 es para considerar también el encabezado de la tabla
            // Si la tabla está vacía, cancelar el envío del formulario
            alert('Debe agregar al menos un producto antes de registrar la factura.');
            return false;
        }

        // Si la tabla no está vacía, permitir el envío del formulario
        return true;
    }
</script>


{% endblock %}